* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "DMSans";
    src: url(./fonts/DMSans/DMSans-Regular.ttf);
}


@font-face {
    font-family: "DMSansBold";
    src: url(./fonts/DMSans/DMSans-Bold.ttf);
}

@font-face {
    font-family: "DMSansMedium";
    src: url(./fonts/DMSans/DMSans-Medium.ttf);
}

@font-face {
    font-family: "Libre";
    src: url(./fonts/Libre/LibreFranklin-Regular.ttf);
}

body {
    font-family: "DMSans";
    background-color: white;
}
